{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block page_title %}Dashboard Overview{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Dashboard Overview</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-3 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-header p-3 pt-2">
                                
                            </div>
                            <hr class="dark horizontal my-0">
                            <div class="card-footer p-3">
                                <a href="/route" class="mb-0">Navigate</a>
                            </div>
                        </div>
                    </div>
                    <!-- Add additional cards here -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
