{% extends 'base.html' %}
{% load static %}
{% block title %}User Profile{% endblock %}
{% block page_title %}User Profile{% endblock %}

{% block content %}
<div class="container">
    <h2>User Profile</h2>
    <p> Welcome, {{ user.username }}!</p>
    <div class="row">
        <div class="col-12 mb-4">
            <div class="card shadow-lg">
                <div class="card-header bg-gradient-info text-white d-flex justify-content-between align-items-center">
                    <h4 class="card-title text-white">Route History</h4>
                        <a class="nav-link d-flex text-white align-items-center me-2 active" aria-current="page" href="{% url 'dashboard' %}">
                            Dashboard
                        </a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Start Location</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">End Location</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Distance</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Duration</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Timestamp</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for route in user_routes %}
                                <tr>
                                    <td>{{ route.start_location }}</td>
                                    <td>{{ route.end_location }}</td>
                                    <td>{{ route.distance }} miles</td>
                                    <td>{{ route.duration }} hours</td>
                                    <td>{{ route.timestamp }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}